<html>
  <head>
    <title>View Data</title>
  </head>

  <body>
    <table border="1">
      {{#list data}}
        Name:
        {{name}}
        Age:
        {{age}}
        Occupation:
        {{occupation}}
        Company:
        {{company}}
      {{/list}}

    </table>
  </body>
</html>